<form method="post" action="{{ path('toto_delete', {'id': toto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ toto.id) }}"><br/>
    <button class="btn">Delete</button>
</form>
