{% extends 'base.html.twig' %}

{% block title %}test Appro_automibile!{% endblock %}

{% block body %}

 <header class="container">
            <nav class="top-nav">
                <div class="logo">LOGO</div>
                <button class="btns-menu">Menu</button>

                <section class="nav-links">
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum</a>
                    <a href="#">Dolor sit amet</a>
                    <a href="#">consectetur adipisicing</a>
                </section>

            </nav>
        </header>

        <section class="content">
            <h1 class="title">Titre de la section</h1>
            <div class="wrapper">
                <div class="inner-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Aspernatur, dolore, doloribus ipsam minus</strong> neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus </p>
                </div>
                <div class="bg-color-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates.</p>
                </div>
            </div>
        </section>

        <section class="container">
            <h2>Titre de la section</h2>
            <div class="bg-content">
                <div class="first-row">
                    <div class="article">
                        <h3>Titre de l'article</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    </div>
                    <div class="article">
                        <h3>Titre de l'article vraiment très très long</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    </div>
                    <div class="article">
                        <h3>Titre de l'article</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    </div>
                </div>
                <div class="second-row">
                    <div class="article-4">
                        <h3>Titre de l'article vraiment très très long</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    </div>
                    <div class="article-5">
                        <h3>Titre de l'article</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolore, doloribus ipsam minus neque nulla quas reiciendis reprehenderit sint tempore temporibus voluptates. A ad error illum nesciunt saepe vel vitae?</p>
                    </div>
                </div>
            </div>


{% endblock %}
